/* 
    SETTING UP FONT-FAMILY
*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

/* 
    CSS RESET
*/

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button,
input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
  Utility classes
*/

/* 
  1. Visually hidden
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 
  2. Flexbox utilities
*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}

/* 
  3. Text utilities
*/

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/* 
    4. Margin/Paddiing utilities
*/

.m-0 {
  margin: 0;
}

.mx-auto {
  margin-inline: auto;
}

.px-1 {
  padding-inline: 0.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.px-3 {
  padding-inline: 1rem;
}

.px-4 {
  padding-inline: 1.5rem;
}

.px-5 {
  padding-inline: 3rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 1rem;
}

.py-4 {
  padding-block: 1.5rem;
}

.py-5 {
  padding-block: 3rem;
}

/* 
    measure utilities
*/

.w-full {
  width: 100%;
}

.max-width-xs {
  max-width: 16rem;
}

.max-width-sm {
  max-width: 24rem;
}

.max-width-2xl {
  max-width: 36rem;
}

.max-width-3xl {
  max-width: 48rem;
}

.max-width-4xl {
  max-width: 56rem;
}

/* 
    ## Variables
*/

:root {

  /* Colors */
  --color-primary: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 12px;

  /* Sizes */
  --size-profile: 5rem;

  font-family: "Inter", sans-serif, Arial, Helvetica;
  font-size: 1rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--off-black);
  color: var(--white);
  min-height: 100vh;

  display: grid;
  place-content: center;
  padding-inline: var(--space-md);
  padding-block-start: var(--space-xl);
}

.container {
  max-width: 36rem;
  background-color: var(--dark-grey);
  border-radius: var(--radius-md);
  padding-block: var(--space-lg);
  padding-inline: var(--space-md);
}

.header h1.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: var(--space-md);
}

.header .location {
  margin-top: 0.15rem; /* este puede quedarse tal cual */
  font-size: 0.9rem;
  color: var(--color-primary);
  font-weight: 600;
}

.header .profile-image {
  width: var(--size-profile);
  height: var(--size-profile);
  border-radius: 50%;
}

.container .content {
  margin-top: var(--space-lg);
}

.content .link-list {
  margin-top: var(--space-lg);
}

.content .link-list a {
  display: block;
  padding-block: var(--space-sm);
  padding-inline: var(--space-md);
  background-color: var(--grey);
  border-radius: var(--radius-sm);
  margin-top: var(--space-xs);
  color: var(--white);
  font-weight: 600;
  font-size: 0.9rem;
}

.content .link-list a:hover {
  background-color: var(--color-primary);
  color: var(--dark-grey);
}

.attribution {
  margin-top: var(--space-lg);
  font-size: 0.8rem;
  color: #c0b7b7;
  text-align: center;
}

.attribution a {
  color: var(--white);
  font-weight: 600;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.05rem;
}

.attribution a::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.attribution a:hover {
  color: var(--color-primary);
}

.attribution a:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
